
input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button{
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 14px;
    background-color: rgb(220, 220, 220);
}